<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>763430146805-fk90m5s2sv8djik5cfi1mbg8h3e16vn8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.763430146805-fk90m5s2sv8djik5cfi1mbg8h3e16vn8</string>
	<key>API_KEY</key>
	<string>AIzaSyCkCBk5LKJRTwsdxllygRkW3MFhADLkiaw</string>
	<key>GCM_SENDER_ID</key>
	<string>763430146805</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.softwareCloud.live</string>
	<key>PROJECT_ID</key>
	<string>live-hemdania</string>
	<key>STORAGE_BUCKET</key>
	<string>live-hemdania.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:763430146805:ios:88b734376c70278095abbc</string>
</dict>
</plist>