<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>959079125882-2alh1qhd949fr7fpr8aocfc3f78jk86o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.959079125882-2alh1qhd949fr7fpr8aocfc3f78jk86o</string>
	<key>API_KEY</key>
	<string>AIzaSyBvtbL5W_oku7hkTo6MbTTbO6bjTpCAxv8</string>
	<key>GCM_SENDER_ID</key>
	<string>959079125882</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.softwareCloud.live</string>
	<key>PROJECT_ID</key>
	<string>liveelhmdaniaa</string>
	<key>STORAGE_BUCKET</key>
	<string>liveelhmdaniaa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:959079125882:ios:123582bd1f98ff8d17fcc3</string>
</dict>
</plist>